.modal-wrapper {
  position: fixed;
  display: none;
  inset: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  padding: 40px 0px;
  background-color: #00000040;
  overflow: auto;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal-content {
  padding: 20px;
  width: fit-content;
  border-radius: 5px;
  margin: auto auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translate(0, 100px);
}

.content-transition {
  opacity: 1;
  transform: translate(0, 0px);
}
